{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="{% static 'news/css/style.css' %}" rel="stylesheet">
    <title>Sign In</title>
</head>
<body>
<div style="text-align: center;">
    <form method="POST">
        {% csrf_token %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <div>
            <label for="username">Username:</label>
            {{ form.username }}
        </div>
        <div>
            <label for="password">Password:</label>
            {{ form.password }}
        </div>
    <input type="hidden" name="next" value="/">
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
